/* 初始化 */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

body {
	min-width: 1024px;
	height: calc(100vh);
	font-size: 15px;
	color: #1a1a1a;
}
/* 超链接设置 */
a {
	text-decoration: none;
}
img {
	border: none;
}

li,
ol,
ul {
	list-style: none;
}
/* 填充效果 */
.fill {
	width: 100%;
	height: 100%;
}
button,
input,
select,
textarea {
	box-sizing: border-box;
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
}

a,
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}
/* -----------布局设置---------- */
.zh-container {
	width: 80%;
	margin-left: 230px;
	margin-top: 10px;
	background-color: #f6f6f6;
}

.zh-row {
	display: flex;
	flex-wrap: wrap;
}
.zh-col-12 {
	flex: 1 1 100%;
}

.zh-col-8 {
	flex: 1 1 66.6%;

}

.zh-col-6 {
	flex: 1 1 50%;
}

.zh-col-4 {
	flex: 1 1 33.3%;
}

.zh-col-3 {
	flex: 1 1 25%;

}

.zh-col-2 {
	flex: 1 1 16.6%;
}

.zh-col-1 {
	flex: 1 1 8.3%;
}
/* -----------对齐方式设置---------- */
/* flex横向布局的对齐,横向居中,纵向居中 */
.zh-fx-center {
	justify-content: center;
}

/* flex横向布局的对齐,横向左对齐,纵向居中 */
.zh-fx-left {
	justify-content: flex-start;
}

/* flex横向布局的对齐,横向右对齐,纵向居中 */
.zh-fx-right {
	justify-content: flex-end;
}

/* flex横向布局的对齐,横向两端对齐，纵向居中 */
.zh-fx-between {
	justify-content: space-between;
}

/* flex横向布局的对齐,横向均匀分布，纵向居中 */
.zh-fx-around {
	justify-content: space-around;
}

/* 浮动方式 */
.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.clear {
	overflow: hidden;
	clear: both;
	height: 0;
	font-size: 0;
}

.clearfix::after {
	display: block;
	visibility: hidden;
	clear: both;
	height: 0;
	font-size: 0;
	content: "";
}

/* 定位方式 */
.pr {
	position: relative;
}

.pa {
	position: absolute;
}

.pf {
	position: fixed;
}

.center {
	margin: 0 auto;
}

/* 对齐方式 */
.tx-left {
	text-align: left;
}

.tx-center {
	text-align: center;
}

.tx-right {
	text-align: right;
}

.tx-justify {
	text-align: justify;
}

/* 居中定位 */
.abs-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* 垂直居中,水平居右 */
.abs-center-right {
	position: absolute;
	left: 82%;
	top: 50%;
	transform: translate(-82%, -50%);
}

.abs-cx {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.abs-cy {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

/* 弹性布局 */
.flex {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.flex-center {
	/* 	项目位于容器的中心。 */
	justify-content: center;
}

.flex-between {
	/* 	项目位于各行之间留有空白的容器内。 */
	justify-content: space-between;
}

.flex-around {
	/* justify-content用于设置或检索弹性盒子元素在主轴（横轴）方向上的对齐方式 */
	/* 	项目位于各行之前、之间、之后都留有空白的容器内 */
	justify-content: space-around;
}

.flex-left {
	/* 默认值。项目位于容器的开头。 */
	justify-content: flex-start;
}

.flex-right {
	/* 	项目位于容器的结尾。 */
	justify-content: flex-end;
}



.flex-center-y {
	display: flex;
	/* flex-direction规定灵活项目的方向 */
	/* 灵活的项目将垂直显示，正如一个列一样。 */
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-top-y {
	display: flex;
	/* 规定灵活的项目在必要的时候拆行或拆列。 */
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}

.container {
	width: 80%;
	/* 设置对象上下间距为0，左右自动 */
	/* 为了让DIV在浏览器中水平居中。布局居中、水平居中，均加入margin:0 auto即可。 */
	margin: 0 auto;
}
.zh-center {
	text-align: center;
}

/* 指定统一前缀的class样式 */
[class*='zh-fx'] {
	display: flex;
	align-items: center;
}

/* flex纵向布局的对齐,横向居中，纵向顶端对齐 */
.zh-fx-top {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

/* 栅格 */
.row {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding: 10px;
}

.col-12 {
	flex: 0 0 100%;
}

.col-8 {
	flex: 0 0 80%;
}

.col-6 {
	flex: 0 0 50%;
}

.col-4 {
	flex: 0 0 33.3%;
}

.col-3 {
	flex: 0 0 25%;
}

.col-2 {
	flex: 0 0 16.6%;
}

.col-1 {
	flex: 0 0 8.3%;
}


/* 动画模式 */
.td-camera {
	perspective: 1000;
}

.td-space {
	transform-style: preserve-3d;
}

.td-box {
	backface-visibility: hidden;
}

.gpu-speed {
	transform: translate3d(0, 0, 0);
}

/* 全屏 */
.fullscreen {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

/* 省略 */
.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* 圆形 */
.circle {
	border-radius: 100%;
}

.round {
	border-radius: 10px;
}

/* 链接样式 */
.link {
	/* 光标呈现为指示链接的指针（一只手） */
	cursor: pointer;
}

/* 间距 */
.gutter {
	/* 设置元素的右边距 */
	margin-right: 20px;
}
/* 常用的高度设置 */
.full-height {
	height: 100%;
}

.normal-height {
	height: 70%;
}

.half-height {
	height: 50%;
}

.min-height {
	height: 30%;
}
.title {
	font-size: 20px;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.7);
	cursor: pointer;
}

.flex {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}